.svg-image path {
	fill: #fff;
    stroke-width: 2px;
	stroke: #000;
	transition: 600ms;
}

.svg-image path:hover {
	transition: fill 0ms;
	transition-timing-function: ease-in;
	fill: brown;
}

.svg-image path:active {
	transition: 120ms;
	fill: crimson;
}

.svg-container {
	width: 400px;
	max-width: calc(100vh);
	padding: 40px;
	display: flex;
	flex: 1;
}

.svg-container svg {
	width: 100%; 
	height: auto; 
}


