.game-card {
	border: 5px solid #444;
	cursor: pointer;
	margin: 4px;
	border-radius: 13px;
	padding: 17px;
	transition: 200ms
}

.game-card.disabled {
	opacity: 0.6;
} 

.game-card:hover {
	box-shadow: 0 0 16px #25252599;
	/* scale: 1.01; */
	translate: 10px 0
}

@keyframes current-blinking {
	0% {
		fill: #7f7;
	}
	50% {
		fill: #77f;
	}
	100% {
		fill: #7f7;
	}
}

.current-blinking{
	animation: current-blinking 900ms infinite linear;
}
