.game-card {
	border: 5px solid #444;
	cursor: pointer;
	/* margin: 4px; */
	border-radius: 30px;
	padding: 20px;
	flex: 1;
	transition: 200ms;
	display: block;
	min-height: 450px;
	min-width: 300px;
	font-size: 18px;
	color: #252525;
	background-color: #fff;


	/* for .box class  */
	margin-top: 0 !important;
	margin-bottom: 0 !important;

}


.game-card:hover {
	box-shadow: 0 14px 16px #25252599;
	transform: scale(1.1) translate(0 -10px);
}

.game-card.disabled {
	opacity: 0.6;
	box-shadow: 0 0 14px 14px red inset;
	transition: 200ms;
} 

.destination-text {
	font-size: 36px;
	font-weight: 500

}

.path-find-stats {
	margin: 20px 0;
}
.dimmy-text {
	color: #252525;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 275;
	line-height: 100%; /* 18px */
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	.path-find-stats {
		margin-top: 9px;
		margin-bottom: 0;
	}
	.destination-text {
		font-size: 30px
	}
}


.melumat-card {
	border-radius: 16px;
	border: 2px solid rgba(37, 37, 37, 0.20);
	background: #FFF;
	/* box-shadow: 4px 4px 24px 0px rgba(37, 37, 37, 0.16); */
	/* box-shadow: 0 0 24px 0px #3333 inset; */
	min-height: 462px;
	padding: 32px;
}
.melumat-card .head {
	font-size: 32px;
	font-weight: 700;
	line-height: 120%; /* 38.4px */
	color: #252525
}
.dot-mark {
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	margin: 0 10px;
}


.leftScroller, .rightScroller { 
	position: sticky; 
	transform: scale(1);
	/* min-width: 20%; */
	/* min-height:	150px;  */
	min-height: 150px;
	min-width: 50px;
	border-radius: 40px;
	background-color: #25252533;
	transition: 200ms;
}
.leftScroller { 
	left: 0;
	/* background: red; */
	border-radius: 40px 10px 10px 40px;
	transform-origin:left;
}

.rightScroller { 
	right: 0;
	border-radius: 10px 40px 40px 10px;
	transform-origin:right;
	/* background: blue; */
}

.cards-scroller {
	gap: 15px;
	padding: 23px 3px;
	align-items: stretch;
}


.leftScroller:hover, .rightScroller:hover { 
	transform: scale(1.1);
	z-index: 66;
	/* background-color: transparent; */
	border: 2px solid #33a3
}
