:root {
	--chip-bg: #ddd;
}

input.typing {
	padding: 12px 5px;
	border-radius: 12px;
	font-size: 14px;
	border: #00000099 2px solid;
	/* background-color: #00000022 */
}

.drawer {
	/* min-width: 0; */
}
.contentside {
    /* finding how it works was awesome */
	min-width: 0;
}

.city-select-field {
	/* width: 500px; */
	max-width: 100%;
	/* align-self: stretch; */
	/* max-width: 80vw; */
	/* margin: 8px; */
	padding: 8px;
	background-color: #fff;
	/* border-radius: 12px */
}

.chips {
	gap: 3px;
	padding: 8px;
	min-height: 50px;
	padding-bottom: 10px;
	overflow-x: auto;
}

.chip {
	border: none;
	padding:  4px 12px;
	/* background-color: #0002; */
	background-color: var(--chip-bg);
	border-radius: 14px;
	transition: margin-left 700ms, margin-right 700ms;
}


.city-select-field .chip.dimmed {
	background-color: #93e093;
	transition: 500ms;
	transform: scale(0.8);
	margin: 0;
}

.chip.selected {
	background-color: #E4BE88;
	/* transition: margin-left 500ms, margin-right 500ms; */
	margin-left: 15px;
	margin-right: 15px;
}

.city-select-field .chip:focus {
	background-color: #ff7;
	margin-left: 15px;
	margin-right: 15px;
	transition: 200ms;
	transform: scale(1.1);

}
