input.typing {
	padding: 12px 5px;
	border-radius: 12px;
	font-size: 14px;
	border: #00000099 2px solid;
	/* background-color: #00000022 */
}

.drawer {
	/* min-width: 0; */
}
.contentside {
    /* finding how it works was awesome */
	min-width: 0;
}

.city-select-field {
	/* width: 500px; */
	max-width: 100%;
	/* align-self: stretch; */
	/* max-width: 80vw; */
	/* margin: 8px; */
	padding: 8px;
	background-color: #fff;
	/* border-radius: 12px */
}

.chips {
	gap: 3px;
	padding: 5px;
	min-height: 50px;
	padding-bottom: 10px;
	overflow-x: auto;
}

.chip {
	border: none;
	padding:  4px 12px;
	/* background-color: #0002; */
	background-color: #ddd;
	border-radius: 14px;
}

.chip.selected {
	background-color: #E4BE88
}

.chip.dimmed {
	background-color: #5b5;
	transition: 300ms;
	transform: scale(0.9);
}
