.svg-image path {
	/* don't give a standby theme */
	/* we won't be set fill atribute */
	/* fill: #fff; */
    stroke-width: 2px;
	stroke: #000;
	transition: 600ms;
}

.svg-image path:hover {
	transition: fill 0ms;
	transition-timing-function: ease-in;
	fill: #CAADE2;;
}

.svg-image path:active {
	transition: 120ms;
	fill: crimson;
}

.svg-container {
	/* width: 400px; */
	/* max-width: calc(100vh); */
	justify-content: center;
	padding: 40px;
	display: flex;
	flex: 1;
}

.svg-container svg {
	/* width: 100%;  */
	/* max-width: min(100vh, 40vw); */
	/* min-width: 120px; */
	/* width: min(100vh, 30vw) */
	width: min(80vh, 40vw);
	height: auto; 
}

img.splashart {
	width: 100%;
	min-height: 20px;
	background-color: tan;
	border: none;
	border-radius: 30px;
	height: auto;
	/* max-width: 100%; */
	/* border: 2px solid gold; */
}

.pinneds {
	position: absolute;
	z-index: 70;
	top: 0;
	left: 0;
	padding: 8px;
}

.pinneds button {
	padding: 4px;
	border: 1px solid #000;
	border-radius: 13px;
	min-width: 30px;
	min-height: 30px;
}


@keyframes current-blinking {
	0% {
		fill: #7f7;
	}
	50% {
		fill: #77f;
	}
	100% {
		fill: #7f7;
	}
}

.current-blinking{
	animation: current-blinking 900ms infinite linear;
}

@keyframes coin-anim {
	0%{
		rotate: y 0deg;
	} 
	50% {
		rotate: y 180deg;
	} 
	100% {
		rotate: y 360deg;
	}
}

.coin {
	animation: coin-anim 1700ms infinite linear;
	/* transform: translate(0, -50%); */
	translate: -50% -100%;
	width: 7%;
}
