.neighbourCard {
	/* background-color: #ddd; */
	background-color: #eee;
	/* border: 2px solid #777; */
	/* border: none; */
	border: 5px solid #252525;
	padding: 15px 20px;
	font-size: 16px;
	border-radius: 30px;
	margin: 6px;
	transition: 500ms;
	min-width: 100px;
	animation: nbcardanim 300ms;
	box-shadow: 0 0 0 0px #777 inset;
}

@keyframes nbcardanim {
	from {
		opacity: 0;
		transform: translateX(-40px)
	}
	to {
		opacity: 1;
		transform: translateX(0px)
	}
}

.neighbourCard:hover {
	transition: 150ms;
	box-shadow: 0 0 0 7px #777 inset;
	border-radius: 30px;
}

.neighbourCard:active {
	transform: scale(1.5);
	transition: 0ms;
}
