.startPage button.start-mode{
	border-radius: 30px;
	background-color: #ddd;
	font-size: 19px;
	margin: 10px;
	border: none;
	animation: start-mode-button-anim 300ms;
	transition: 200ms;
	transform: scale(1);
	padding: 40px 60px;
}

@keyframes start-mode-button-hover-anim {
	from {
		box-shadow: 0 0 0 30px #7f7 inset;
	}
	to {
		box-shadow: 0 0 0 0 #7f7 inset;
	}
}
.startPage button.start-mode:hover
{
	transform: scale(1.2);
	transition: 200ms, margin 500ms, transform 700ms;
	position: relative;
	background-color: #eee;
	border: 3px solid #7f7;
	margin: 30px
}

.startPage button.start-mode:focus,
.startPage button.start-mode:hover
{
	animation: start-mode-button-hover-anim 200ms
}

.startPage button.start-mode:active {
	margin: 60px;
	scale: 1.2;
	transition: 60ms;
}

.modeCard .modeCardImage {
	transition: 500ms
}
.modeCard {
	transition: 200ms
}
.modeContainer:hover .modeCardImage {
	transform: scale(1.2)
}
.modeeContainer:hover .modeCard {
	transform: scale(1.05)
}
.modeContainer{
	cursor: pointer;
}
.modeCard {
	/* width: 400px; */
	cursor: pointer;
	/* height: 400px; */
	overflow: hidden;
	border-radius: 30px;
	background-color: #ddd;
	border:none;
	margin: 10px;
	min-width: 300px;
	min-height: 300px;
	position: relative;
}

span.modeName {
	position: relative;
	font-size: 38px;
	font-weight: 500;
	/* position: absolute; */
	/* bottom: 20px; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
	/* background-color: #1111; */
	color: #252525;
	filter: drop-shadow(2px 3px 3px #25252525);
	border-radius: 18px;
	padding: 4px 13px;
	margin-top: 13px;
	margin-bottom: 23px;
}

.modeContainer:hover span.modeName {
	background-color: #25252525;
	/* color: #fff; */
}

.modeCardImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: salmon;
}

.modes {
	overflow: auto;
	/* border: 4px solid blue; */
	/* padding: 50px; */
}
