
@import url("./mobile.css");
@import url("./layss.css");
@import url("./map.css");
@import url("./view.css");
@import url("./input.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: poppins;
}

.r, [r] {
	border: 2px solid red
}
